demoprojMVC.UI.Portal/App_Data/TableIDCodingRule.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="TableIDCodingRule">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Item">
          <xs:complexType>
            <xs:attribute name="Tablename" type="xs:string" use="required" />
            <xs:attribute name="Codepref" type="xs:string" use="required" />
            <xs:attribute name="AutoCodeLength" type="xs:unsignedByte" use="required" />
            <xs:attribute name="Timestamp" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>